.main{
  max-width: 170rem;
  display: flex;
  justify-content: space-around;
  margin: 3.2rem auto;
  height: 75vh;
}

.section-login{
  width: 90%;
  background-color: #292F33;
  border-radius: 0.8rem;
  padding: 2.4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
  width: 50%;
}

form h1{
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
}

form button{
    background-color: #748FFC;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 0.8rem;
    padding: 1.2rem 3.2rem;
    cursor: pointer;
    font-weight: 700;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.field label{
  color: white;
  font-weight: 600;
  font-size: 2.0rem;
}

.field input{
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border: 1px solid;
  outline: none;
  background-color: #E3E3E3;
  color: black;
}

