{% extends 'rh/layout.html' %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block main %}
<div class='sidebar'>
    <div class="departments">
        {% for department in departments %}
        <div class="department btn-sidebar" id= {{ department.department_name }}>
          <img src="{{ department.department_icon.url }}" id="{{ department.id }}" class="btn-dept">
        </div>
        {% endfor %}
    </div>
    <div class="logout btn-sidebar">
        <img src="{% static 'images/logout.svg'%}" alt="">
    </div>

</div>
<div class='article'>
  <div class="page-departments">
    <div class="title-department">
          <h1 id="id-h1">Departamento</h1>
      </div>
      <div class="container-employees">
          <!-- <div class="employee"> -->
          <!--     <div class="picture-info-employee"> -->
          <!--         <div class="employee-picture"> -->
          <!--             <img src="{% static 'images/sanuka.png' %}" alt=""> -->
          <!--         </div> -->
          <!--         <div class="employee-info"> -->
          <!--             <p class="name">Sanuka LambeLambe<p> -->
          <!--             <p class="title-job">Analista de Segurança<p> -->
          <!--             <p class="id-employee">420<p> -->
          <!---->
          <!--         </div> -->
          <!--     </div> -->
          <!--     <div class="employee-btn-view"> -->
    <!--         <button type="button">View</button> -->
          <!--     </div> -->
          <!-- </div> -->

    </div>
  </div>
  <div class="page-view-employee hidden">
    <div class="employee-display-data">
      <div class="employee-pic-info">
        <img class="employee-pic pic-view" src="{% static 'images/profile-photo.svg'%}">
        <div class="employee-info">
          <p class="employee-name"></p>
          <p class="employee-title-job"></p>
          <p class="employee-id"></p>
        </div>
      </div>
      <div class="employee-btn-back">
        <button id="return" type="button">Voltar</button>
      </div>
    </div>
    <div class="employee-personal-data">
      <div>
        <p class="employee-cpf"></p>
        <p class="employee-rg"></p>
        <p class="employee-birthdate"></p>
      </div>
      <div>
        <p class="employee-startdate"></p>
        <p class="employee-title-job"></p>
        <p class="employee-salary"></p>
      </div>
      <div>
        <p class="employee-department"></p>
        <p class="employee-email"></p>
        <p class="employee-phone"></p>
      </div>
    </div>
    <div class="bank-data">
      <h2>Dados Bancários</h2>
      <div class="bank-data-div">
          <p class="employee-agency"></p>
          <p class="employee-cc"></p>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/index.js'%}"></script>
{% endblock %}
