{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo App</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1">
            {% block head %}
            {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class='logo'>
                <img src="{% static 'images/logo.svg' %}">
            </div>
            {% if request.user.is_authenticated %}
            <div class="profile">
              <p class="username">{{request.user.username}}<p>
              <div class="profile-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.45202 13.046C7.51318 13.1348 7.59502 13.2075 7.69048 13.2576C7.78594 13.3078 7.89217 13.334 8.00002 13.334C8.10787 13.334 8.2141 13.3078 8.30956 13.2576C8.40502 13.2075 8.48686 13.1348 8.54802 13.046L14.548 4.37933C14.6175 4.27937 14.6582 4.16229 14.6658 4.0408C14.6734 3.91932 14.6475 3.79808 14.591 3.69026C14.5345 3.58244 14.4496 3.49216 14.3454 3.42924C14.2412 3.36631 14.1217 3.33314 14 3.33333H2.00002C1.87858 3.33383 1.75958 3.36743 1.65581 3.43051C1.55203 3.49359 1.46742 3.58376 1.41106 3.69133C1.35471 3.7989 1.32874 3.9198 1.33596 4.04102C1.34317 4.16224 1.3833 4.27921 1.45202 4.37933L7.45202 13.046Z" fill="black"/>
                </svg>
              </div>
            </div>
            {% endif %}
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    </body>

</html>
